
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  src: url(https://fonts.gstatic.com/s/opensans/v28/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsjZ0B4gaVc.ttf) format('truetype');
}
@font-face {
  font-family: 'Pinyon Script';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/pinyonscript/v14/6xKpdSJbL9-e9LuoeQiDRQR8WOXaPw.ttf) format('truetype');
}
@font-face {
  font-family: 'Rochester';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/rochester/v16/6ae-4KCqVa4Zy6Fif-UC2FHS.ttf) format('truetype');
}

/* ------------------------ Pages -------------------------- */

@media print {
  @page {
    size: A4 landscape;
  }
}

img.logo {
  width: 15%;
  // display: block;
  // margin: auto auto auto 0;
  position: relative;
  top: -16px;
  left: 4px;
}

img.slogan {
  width: 12%;
  bottom: -460px;
  left: 220px;
  position: relative;
}

img.signature {
  width: 15%;
  bottom: -395px;
  left: -90px;
  position: relative;
}

.cursive {
  font-family: 'Pinyon Script', cursive;
}
.sans {
  font-family: 'Open Sans', sans-serif;
}
.bold {
  font-weight: bold;
}
.block {
  display: block;
}
.underline {
  border-bottom: 1px solid #777;
  padding: 5px;
  margin-bottom: 15px;
}
.margin-0 {
  margin: 0;
}
.padding-0 {
  padding: 0;
}
.pm-empty-space {
  height: 40px;
  width: 100%;
}
body {
  padding: 20px 0;
  background: #ccc;
}
.pm-certificate-container {
  position: relative;
  width: 841px;
  height: 594px;
  background-color: #fff;
  padding: 30px;
  color: #333;
  font-family: 'Open Sans', sans-serif;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.pm-certificate-container .outer-border {
  width: 835px;
  height: 588px;
  position: absolute;
  left: 50%; 
  margin-left: -417.5px;
  top: 50%;
  margin-top: -294px;
  border: 2px solid #131212c4;
}

.pm-certificate-container .inner-border {
  width: 771px;
  height: 524px;
  position: absolute;
  left: 50%;
  margin-left: -385.5px;
  top: 50%;
  margin-top: -262px;
  border: 2px solid #131212c4;
}
.pm-certificate-container .pm-certificate-border {
  position: relative;
  width: 761px;
  height: 514px;
  padding: 0;
  border: 1px solid #131212c4;
  background-color: #131212c4;
  background-image: none;
  left: 50%;
  margin-left: -380.5px;
  top: 50%;
  margin-top: -257px;
}
.pm-certificate-container .pm-certificate-border .pm-certificate-block {
  width: 650px;
  height: 200px;
  position: relative;
  left: 50%;
  margin-left: -325px;
  top: 70px;
  margin-top: 0;
}
.pm-certificate-container .pm-certificate-border {
  margin-bottom: 10px;
}

.pm-certificate-header{
  margin-bottom: 0px;
  margin-top: -40px;
}

.pm-certificate-container .pm-certificate-border .pm-certificate-title {
  position: relative;
  top: 40px;
}
.pm-certificate-container .pm-certificate-border .pm-certificate-title h2 {
  font-size: 34px !important;
}
.pm-certificate-container .pm-certificate-border .pm-certificate-body {
  padding: 20px;
}
.pm-certificate-container .pm-certificate-border .pm-certificate-body .pm-name-text {
  font-size: 20px;
}
.pm-certificate-container .pm-certificate-border .pm-earned {
  margin: 15px 0 20px;
}
.pm-certificate-container .pm-certificate-border .pm-earned .pm-earned-text {
  font-size: 20px;
}
.pm-certificate-container .pm-certificate-border .pm-earned .pm-credits-text {
  font-size: 15px;
}
.pm-certificate-container .pm-certificate-border .pm-course-title .pm-earned-text {
  font-size: 20px;
}
.pm-certificate-container .pm-certificate-border .pm-course-title .pm-credits-text {
  font-size: 15px;
}
.pm-certificate-container .pm-certificate-border .pm-certified {
  font-size: 12px;
}
.pm-certificate-container .pm-certificate-border .pm-certified .underline {
  margin-bottom: 5px;
}
.pm-certificate-container .pm-certificate-border .pm-certificate-footer {
  width: 650px;
  height: 100px;
  position: relative;
  left: 50%;
  margin-left: -325px;
  bottom: -105px;
}